.idea/misc.xml
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sc70.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sc88.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sc89.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sod123.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sod323.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sod523.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sod723.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot23_juanpan.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot23.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot23e.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot25.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot26.cpython-39.pyc
1.image_classification/cnn_imgcls/run/train/exp_xray_sc70/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sc70/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sc88/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sc88/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sc89/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sc89/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sod123/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sod123/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sod323/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sod323/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sod523/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sod523/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sod723/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sod723/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sot23/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sot23/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sot23_juanpan/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sot23_juanpan/weights/best.txt
2.object_detection/A单目标坐标回归测试1/data/__pycache__/data_xray_毛刺.cpython-39.pyc
2.object_detection/A单目标坐标回归测试1/data/__pycache__/MyData.cpython-39.pyc
2.object_detection/A单目标坐标回归测试1/models/__pycache__/net_resnet18.cpython-39.pyc
2.object_detection/A单目标坐标回归测试1/run/train/logs/events.out.tfevents.1687342743.LL.17428.0
2.object_detection/A单目标坐标回归测试1/run/train/logs/events.out.tfevents.1687342788.LL.18280.0
2.object_detection/A单目标坐标回归测试1/run/train/logs/events.out.tfevents.1687342971.LL.19564.0
2.object_detection/A单目标坐标回归测试1/run/train/weights/best.pth
1.image_classification/cnn_imgcls/data/__pycache__/data_oqa_chr.cpython-39.pyc
.idea/misc.xml
.idea/misc.xml
3.image_segmentation/unet/__pycache__/Loss_Fn.cpython-39.pyc
3.image_segmentation/unet/models/__pycache__/unet.cpython-39.pyc
3.image_segmentation/unet/data/__pycache__/data_segment.cpython-39.pyc
3.image_segmentation/test_unet2/__pycache__/data.cpython-39.pyc
3.image_segmentation/test_unet2/__pycache__/dice_losee.cpython-39.pyc
3.image_segmentation/test_unet2/__pycache__/global_val.cpython-39.pyc
3.image_segmentation/test_unet2/__pycache__/model.cpython-39.pyc
myutils/__pycache__/myutils.cpython-39.pyc
myutils/__pycache__/__init__.cpython-39.pyc
myutils/__init__.py
.idea/misc.xml
.idea/test_learn_python.iml
2.object_detection/A单目标坐标回归测试1/run/train/logs/events.out.tfevents.1689132679.LL.11380.0
2.object_detection/ctpn文本检测/checkpoints/best.dict
2.object_detection/ctpn文本检测/checkpoints/best1.dict
2.object_detection/ctpn文本检测/checkpoints/ctpn_keras_weights.pth.tar
2.object_detection/ctpn文本检测/checkpoints/note
5.anomalydetect/selfsup/__pycache__/data.cpython-39.pyc
5.anomalydetect/selfsup/__pycache__/train.cpython-39.pyc
8.selfsupervised/simCLR/best-adam.pth
8.selfsupervised/simCLR/best.pth
8.selfsupervised/simCLR/best1.pth
8.selfsupervised/simCLR/__pycache__/data.cpython-39.pyc
8.selfsupervised/simCLR/__pycache__/loss.cpython-39.pyc
8.selfsupervised/simCLR/__pycache__/model.cpython-39.pyc
.gitignore
8.selfsupervised/simCLR/__pycache__/model1.cpython-39.pyc
9.featuremap_visualizing/best.pth
9.featuremap_visualizing/__pycache__/model.cpython-39.pyc
proj/__pycache__/model2.cpython-39.pyc
proj/__pycache__/model1.cpython-39.pyc
proj/__pycache__/model1.cpython-39.pyc
myutils/halcon.dll
