.idea/misc.xml
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sc70.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sc88.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sc89.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sod123.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sod323.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sod523.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sod723.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot23_juanpan.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot23.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot23e.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot25.cpython-39.pyc
1.image_classification/cnn_imgcls/data/__pycache__/data_xray_sot26.cpython-39.pyc
1.image_classification/cnn_imgcls/run/train/exp_xray_sc70/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sc70/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sc88/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sc88/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sc89/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sc89/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sod123/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sod123/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sod323/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sod323/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sod523/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sod523/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sod723/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sod723/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sot23/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sot23/weights/best.txt
1.image_classification/cnn_imgcls/run/train/exp_xray_sot23_juanpan/weights/best.pth
1.image_classification/cnn_imgcls/run/train/exp_xray_sot23_juanpan/weights/best.txt
2.object_detection/A单目标坐标回归测试1/data/__pycache__/data_xray_毛刺.cpython-39.pyc
2.object_detection/A单目标坐标回归测试1/data/__pycache__/MyData.cpython-39.pyc
2.object_detection/A单目标坐标回归测试1/models/__pycache__/net_resnet18.cpython-39.pyc
2.object_detection/A单目标坐标回归测试1/run/train/logs/events.out.tfevents.1687342743.LL.17428.0
2.object_detection/A单目标坐标回归测试1/run/train/logs/events.out.tfevents.1687342788.LL.18280.0
2.object_detection/A单目标坐标回归测试1/run/train/logs/events.out.tfevents.1687342971.LL.19564.0
2.object_detection/A单目标坐标回归测试1/run/train/weights/best.pth
1.image_classification/cnn_imgcls/data/__pycache__/data_oqa_chr.cpython-39.pyc
.idea/misc.xml
.idea/misc.xml
3.image_segmentation/unet/__pycache__/Loss_Fn.cpython-39.pyc
3.image_segmentation/unet/models/__pycache__/unet.cpython-39.pyc
3.image_segmentation/unet/data/__pycache__/data_segment.cpython-39.pyc
3.image_segmentation/test_unet2/__pycache__/data.cpython-39.pyc
3.image_segmentation/test_unet2/__pycache__/dice_losee.cpython-39.pyc
3.image_segmentation/test_unet2/__pycache__/global_val.cpython-39.pyc
3.image_segmentation/test_unet2/__pycache__/model.cpython-39.pyc
.idea/misc.xml
.idea/test_learn_python.iml
2.object_detection/A单目标坐标回归测试1/run/train/logs/events.out.tfevents.1689132679.LL.11380.0
2.object_detection/ctpn文本检测/checkpoints/best.dict
2.object_detection/ctpn文本检测/checkpoints/best1.dict
2.object_detection/ctpn文本检测/checkpoints/ctpn_keras_weights.pth.tar
2.object_detection/ctpn文本检测/checkpoints/note
5.anomalydetect/selfsup/__pycache__/data.cpython-39.pyc
5.anomalydetect/selfsup/__pycache__/train.cpython-39.pyc
8.selfsupervised/simCLR/best-adam.pth
8.selfsupervised/simCLR/best.pth
8.selfsupervised/simCLR/best1.pth
8.selfsupervised/simCLR/__pycache__/data.cpython-39.pyc
8.selfsupervised/simCLR/__pycache__/loss.cpython-39.pyc
8.selfsupervised/simCLR/__pycache__/model.cpython-39.pyc
.gitignore
8.selfsupervised/simCLR/__pycache__/model1.cpython-39.pyc
9.featuremap_visualizing/best.pth
9.featuremap_visualizing/__pycache__/model.cpython-39.pyc
proj/__pycache__/model2.cpython-39.pyc
proj/__pycache__/model1.cpython-39.pyc
proj/__pycache__/model1.cpython-39.pyc
myutils/halcon.dll
our1314/dist/our1314-0.1.0-py3-none-any.whl
our1314/dist/our1314-0.1.0.tar.gz
our1314/myutils/halcon.dll
our1314/our1314.egg-info/dependency_links.txt
our1314/our1314.egg-info/PKG-INFO
our1314/our1314.egg-info/SOURCES.txt
our1314/our1314.egg-info/top_level.txt
our1314/dist/our1314-0.1.2-py3-none-any.whl
our1314/dist/our1314-0.1.2.tar.gz
Lib/dist/our1314-0.1.3.tar.gz
Lib/dist/our1314-0.1.3-py3-none-any.whl
Lib/our1314/myutils/halcon.dll
Lib/our1314/myutils/__pycache__/__init__.cpython-39.pyc
Lib/our1314.egg-info/top_level.txt
Lib/our1314.egg-info/SOURCES.txt
Lib/our1314.egg-info/PKG-INFO
Lib/our1314.egg-info/dependency_links.txt
Lib/our1314/myutils/halconc.dll
Lib/our1314/myutils/hdevenginecpp.dll
Lib/our1314/myutils/halconcpp.dll
10.proj/best.pth
Lib/our1314/cv/halcon.dll
Lib/our1314/cv/halconc.dll
.gitignore
Lib/our1314/cv/hdevenginecpp.dll
Lib/our1314/cv/halconcpp.dll
10.proj/halcon.dll
10.proj/halconc.dll
10.proj/halconcpp.dll
10.proj/hdevenginecpp.dll
10.proj/yolov5-seg.onnx
10.proj/yolov8-seg.onnx
Lib/dist/our1314-0.1.13-py3-none-any.whl
Lib/dist/our1314-0.1.13.tar.gz
3.image_segmentation/test_unet/__pycache__/data.cpython-39.pyc
3.image_segmentation/test_unet/__pycache__/model.cpython-39.pyc
3.image_segmentation/test_unet/run/train/best.pth
Lib/dist/our1314-0.1.17-py3-none-any.whl
10.proj/__pycache__/data.cpython-39.pyc
10.proj/run/train/best.pth
3.image_segmentation/test_unet/run/train/1.pth
10.proj/run/train/1.pth
3.image_segmentation/test_unet/run/train/best.onnx
3.image_segmentation/test_unet/run/train/2.pth
3.image_segmentation/test_unet/run/train/3.pth
3.image_segmentation/test_unet/deeplabv3/__pycache__/mobilenetv2.cpython-39.pyc
3.image_segmentation/test_unet/deeplabv3/__pycache__/utils.cpython-39.pyc
3.image_segmentation/test_unet/deeplabv3/__pycache__/xception.cpython-39.pyc
3.image_segmentation/test_unet/deeplabv3/model_data/mobilenet_v2.pth.tar
10.proj/yolov8-seg1.onnx
3.image_segmentation/test_unet/train.py
3.image_segmentation/test_unet/deeplab/__pycache__/deeplabv3.cpython-39.pyc
3.image_segmentation/test_unet/run/train/best-deeplab.pth
3.image_segmentation/test_unet/run/train/best-unet.pth
3.image_segmentation/test_unet/deeplab/deeplabv3.py
3.image_segmentation/test_unet/run/train/best-deeplab1.pth
3.image_segmentation/test_unet/run/train/best-deeplab - 副本.pth
3.image_segmentation/test_unet/train.py
3.image_segmentation/test_unet/run/train/best-deeplab2.pth
3.image_segmentation/test_unet/run/train/pretrain.pth
1.image_classification/cnn_imgcls/run/agl/best.pth
.gitignore
1.image_classification/cnn_imgcls/run/cls/best.pth
3.image_segmentation/test_seg/__pycache__/data.cpython-39.pyc
3.image_segmentation/test_seg/__pycache__/model.cpython-39.pyc
3.image_segmentation/test_seg/deeplab/__pycache__/deeplabv3.cpython-39.pyc
3.image_segmentation/test_seg/deeplabv3/__pycache__/mobilenetv2.cpython-39.pyc
3.image_segmentation/test_seg/deeplabv3/__pycache__/utils.cpython-39.pyc
3.image_segmentation/test_seg/deeplabv3/__pycache__/xception.cpython-39.pyc
3.image_segmentation/test_seg/deeplabv3/model_data/mobilenet_v2.pth.tar
3.image_segmentation/test_seg/run/train/best-deeplab - 副本.pth
3.image_segmentation/test_seg/run/train/best-deeplab.pth
3.image_segmentation/test_seg/run/train/best-deeplab1.pth
3.image_segmentation/test_seg/run/train/best-deeplab2.pth
3.image_segmentation/test_seg/run/train/best-unet.pth
3.image_segmentation/test_seg/run/train/pretrain.pth
3.image_segmentation/test_seg/run/train/best1.pth
